h1{
	color: #ffffff;
	font-size: 76pt;
}
p{
	color: #ffffff;
	font-size: 19pt;
}
h3{
	color: #ffffff;
	font-size: 30pt;
}
h4{
	font-size: 76px;
	color: #ffffff;
}
body{
	background-color: #c5cf9b;
}
ul{
	list-style-type: none;
	background-color: #ffffff;
	overflow: hidden;
}
ul li{
	float: left;
	text-align: center;
}
ul li a{
	text-decoration: none;
	display: block;
	width: 75px;
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #2c9147 ;
}
.active{
	font-weight: bold;
	border-bottom: solid 2px #2c9147;
}
.home{
	background-image: url(background3.jpg);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center center;
}
.facilities{

}